@use "sass:color";
/* 
CSS Resets, template: 
https://www.joshwcomeau.com/css/custom-css-reset/
*/


/* 1. Use a more-intuitive box-sizing model */
*, *::before, *::after {
  box-sizing: border-box;
  border-radius: 0.2rem;
}
/* 2. Remove default margin */
* {
  margin: 0;
}
/* 3. Enable keyword animations */
@media (prefers-reduced-motion: no-preference) {
  html {
    interpolate-size: allow-keywords;
  }
}
body {
  /* 4. Add accessible line-height */
  line-height: 1.5;
  /* 5. Improve text rendering */
  -webkit-font-smoothing: antialiased;
  background-color: #322E42;
}
/* 6. Improve media defaults */
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}
/* 7. Inherit fonts for form controls */
input, button, textarea, select {
  font: inherit;
}
/* 8. Avoid text overflows */
p, h1, h2, h3, h4, h5, h6, textarea {
  overflow-wrap: break-word;
  color: #9C90D4;
  font-family: monospace;
}
/* 9. Improve line wrapping */
p {
  text-wrap: pretty;
}
h1, h2, h3, h4, h5, h6 {
  text-wrap: balance;
}
/*
  10. Create a root stacking context
*/
#root, #__next {
  isolation: isolate;
}

/* Custom default styles */

//Scroll bar
/* Scrollbar Track */
::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

/* Scrollbar Track */
::-webkit-scrollbar-track {
  background: black; /* track background */
  border-radius: 5px;
}

/* Scrollbar Thumb */
::-webkit-scrollbar-thumb {
  background-color: white; /* thumb color */
  border-radius: 0.2rem;
  border: 2px solid #2e2e2e; /* gives padding around thumb */
}

/* Scrollbar Thumb Hover */
::-webkit-scrollbar-thumb:hover {
  background-color: color.adjust(#61dafb, $lightness: 15%, $space: hsl);
  transition-duration: 0.5s;
}

// Main App
textarea{
  background-color: #322E42;
}

button{
  border: none;
  outline: none;
  background-color: #322E42;
}

.app-container{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 100vh;
  width: 100vw;
  padding: 1rem;
}
